# Security & Session files
*.session
*.key
.env*

# Python
__pycache__/
*.py[cod]
.venv/

# Node
node_modules/
dist/

# Project-specific logs & DBs
app/utils/loggers/files/
app/model/sqlite_db_model/
app/db/db_files/
app/db/sqlite_db/
.idea/