/app/db/external_db/external_db_session.session
/app/db/internal_db/internal_db_session.session
/app/.env*
/app/.env
/app/utils/loggers/files/
/app/model/sqlite_db_model/
/app/db/db_files/
/app/db/sqlite_db/
/app/db/external_db/external_db_key.key
/app/db/internal_db/internal_db_key.key
/.idea/
/app/collect_data.session
/app/.venv
/app/frontend/node_modules/